.DS_Store

__pycache__/

full_quartet_dictionary.txt

output_tree.txt

output_tree.tre

output_tree_one.tre

nohup.out

run_output.txt

help.txt

quartet_dictionaries/

quartet_dictionaries_full/

quartet_dictionaries_full_backup/
